
$mainColor:#40b0b0;
$title-rgb:#36AFB5;

.theme-beautiful {
  //.el-menu--popup{
  //  .el-menu-item{
  //    background-color: #fff;
  //    i,span{
  //      color:#666;
  //    }
  //    &:hover{
  //      i,span{
  //        color:#333;
  //      }
  //    }
  //    &.is-active {
  //      background-color: #409EFF;
  //      &:before {
  //        content: '';
  //        top: 0;
  //        left: 0;
  //        bottom: 0;
  //        width: 4px;
  //        background: #409eff;
  //        position: absolute;
  //      }
  //      i,span{
  //        color:#fff;
  //      }
  //    }
  //  }
  //}
  //top背景颜色
  .avue-top{
    background: linear-gradient(to right,#398fd7,#42c09c);
  }
  //logo背景颜色
  .avue-logo{
    background: #077cc3;
    box-shadow: none;
    color: #fff;
  }
  .avue-sidebar--tip{
    background: linear-gradient(to right,#398fd7,#42c09c);
    color:#fff;
  }
  .el-dropdown{
    color:#fff;
  }
  .avue-logo_title{
    font-weight: 400;
    color:#fff;
  }
  .logo_title,
  .avue-breadcrumb
  {
    color: #fff ;
    i {
      color: #fff;
    }
  }
  .avue-top{
    .el-menu-item {
      i,
      span {
        color: #fff ;
      }
      &:hover {
        i,
        span {
          color: #fff ;
        }
      }
    }
  }

  .avue-sidebar{
    box-shadow: 2px 0 6px rgba(0, 21, 41, 0.15);
    //background: linear-gradient(to bottom,#2d81c0,#18659e);
    //sidebar背景颜色
    .avue-menu{
      background: #242f33;
    }
    //侧边栏菜单
    .el-menu-item,.el-submenu__title{
      font-size: 13px;
      i,span{
        color:rgba(255,255,255,.5);
      }
      &:hover{
        background: #1d2629;
        i,span{
          color:#fff;
        }
      }
      &.is-active {
        background-color: #1d2629;
        &::before{
          width: 0;
        }
        i,span{
          color: #fff;
        }
      }
    }
  }
  .top-search {
    .el-input__inner{
      color: #333;
      background: #fff;
    }
    input::-webkit-input-placeholder,
    textarea::-webkit-input-placeholder {
      /* WebKit browsers */
      color: #333;
    }
    input:-moz-placeholder,
    textarea:-moz-placeholder {
      /* Mozilla Firefox 4 to 18 */
      color: #333;
    }
    input::-moz-placeholder,
    textarea::-moz-placeholder {
      /* Mozilla Firefox 19+ */
      color: #333;
    }
    input:-ms-input-placeholder,
    textarea:-ms-input-placeholder {
      /* Internet Explorer 10+ */
      color: #333;
    }
  }
  .top-bar__item {
    i {
      color: #fff;
    }
    span{
      border: none!important;
      background: none!important;
    }
  }
  .el-dropdown{
    span{
      border: none!important;
      background: none!important;
    }
  }
  //弹出层菜单
  .el-menu--vertical{
    background: #242f33!important;
    .el-menu{
      .el-menu-item{
        span,i{
          color: rgba(255,255,255,.5);
        }
      }
      .menu-wrapper{
        .el-submenu{
          .el-submenu__title{
            i,span{
              color: rgba(255,255,255,.5);
            }
          }
        }
      }
    }
  }
  .el-menu--vertical{
    .el-menu{
      .el-menu-item:hover{
        background: #1d2629;
        span,i{
          color: #fff;
        }
      }
      .menu-wrapper{
        .el-submenu{
          .el-submenu__title:hover{
            background: #1d2629;
            i,span{
              color: #fff;
            }
          }
        }
      }
    }
  }

  .avue-top{
    .el-menu--horizontal{
      .el-menu-item{
        span,i{
          color: #fff;
        }
      }
    }
    .el-tooltip{
      span{
        background: transparent!important;
        border: none!important;
        i{
          color: #fff;
        }
      }
    }
    .el-dropdown{
      .el-dropdown-link{
        background: transparent!important;
        border: none!important;
        color: #fff;
      }
    }
  }



  //header-title调整
  .header-title{
    color: $mainColor;
  }
  .el-tabs__item.is-active{
    color: $mainColor;
  }
  .el-tabs__item:hover{
    color: $mainColor;
  }
  .header-title-content{
    color: $mainColor;
  }
  .block-header-bgcolor-green > .block-header > .block-title > .header-title > .header-title-content{
    background:$title-rgb;
    //opacity: .5;
  }
  .block-header-bgcolor-green > .block-header > .block-title > .header-title > .header-title-content:before{
    border-color: $title-rgb transparent;
  }
  .block-header-bgcolor-green .block-header{
    border-bottom-color: $title-rgb;
  }
  .block-header-bgcolor > .block-header > .block-title > .header-title > .header-title-content{
    background: $title-rgb;
  }
  .block-header-bgcolor > .block-header > .block-title > .header-title > .header-title-content:before{
    border-color: transparent $title-rgb;
  }
  .block-header-bgcolor > .block-header{
    background: #f0f7ff;
  }
  .el-tabs__active-bar{
    background-color: $mainColor;
  }
  //tab切换
  .header-left-tab-active{
    border-bottom-color: $mainColor;
  }
  .header-left-tab:hover{
    color: $mainColor;
    border-bottom-color: $mainColor;
  }
  //sidebar左边线条
  .avue-sidebar .el-menu-item.is-active:before, .avue-sidebar .el-submenu__title.is-active:before{
    content: '';
    top: 0;
    left: 0;
    bottom: 0;
    width: 4px;
    position: absolute;
    background: $mainColor;
  }
  //系统管理和开发用例页面和首页
  div > .menu-home-header{
    border-bottom: solid 3px $title-rgb;
  }
  div > .menu-home-title{
    background:$title-rgb;
    //opacity: .5;
  }
  div > .menu-home-title:before{
    border-color: $title-rgb transparent; /*上下颜色 左右颜色*/
    //opacity: .5;
  }

  //top-bar__right图标加框框
  .top-bar__right{
    .el-tooltip{
      & > span{
        border:solid 1px #fff!important;
        i{
          color: #fff;
        }
      }
    }
  }
  .top-bar__right{
    .el-tooltip{
      a{
        & > span{
          border:solid 1px #fff!important;
          i{
            color: #fff;
          }
        }
      }
    }
  }

  //tabs页面切换样式
  .menzhen-content-left-tab .menzhen-content-left-tab-item .item-text-is-active{
    color: $mainColor!important;
    border-bottom-color: $mainColor!important;
  }
  .menzhen-content-left-tab .menzhen-content-left-tab-item:hover{
    color: $mainColor!important;
  }
  .header-left-tab-active{
    border-bottom-color: $mainColor!important;
  }
  .header-left-tab:hover{
    color: $mainColor!important;
  }
  .header-left-tab-active{
    border-bottom-color: $mainColor!important;
    color: $mainColor!important;
  }

  //radio框样式
  .el-radio__input.is-checked .el-radio__inner{
    border-color: $mainColor;
    background: $mainColor;
  }
  .el-radio__input.is-checked+.el-radio__label{
    color: $mainColor;

  }

  /*说明el-popover*/
  .exp-info .exp-info-content{
    border: solid 1px $mainColor;
    color: $mainColor;
  }



  /*顶部菜单样式*/
  .top-bar__menu{
    margin-left: 20px;
  }
  .top-bar__menu .el-menu .el-menu-item  i{
    margin-right: 0;
    font-size: 16px;
  }
  .top-bar__menu .el-menu .el-menu-item  span{
    font-size: 16px;
  }
  .avue-top .top-bar__menu .el-menu--horizontal > .el-menu-item{
    padding: 0;
    line-height: 49px;
  }
  .avue-top .top-bar__menu .el-menu--horizontal div{
    padding: 0 10px;
  }
  .avue-top .top-bar__menu .el-menu--horizontal  .activeMenu{
    background: rgba(255,255,255,0.3)!important;
  }
  .avue-top .top-bar__menu .el-menu--horizontal  .activeMenu:hover{
    background: rgba(255,255,255,0.3)!important;
  }
  /*顶部更多菜单样式*/
  .top-bar__menu-more-menu{
    max-width: 580px;
    /*min-height: 100px;*/
    display: flex;
    flex-wrap: wrap;
    padding: 10px 20px 20px 10px;
  }
  .top-bar__menu-more-menu .el-dropdown-menu__item{
    width: 170px;
    flex-shrink: 0;
    font-size: 16px!important;
    margin-top: 10px;
    margin-left: 10px;
  }
  .top-bar__menu-more-menu .activeMenu{
    background: #ecf5ff;
    color: #66b1ff!important;
  }
}



